@media screen and (max-width : 800px){
    *{
        width: 100%;
    }
    .info{
        /* margin: auto 10vw; */
        width: 80vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .self{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .others{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .othersData{
        min-width: 80vw ;
        height: fit-content;
    }
    .othersData img{
        width: 60vw;
    }
    .headerdata{
        width: 100%;
        margin: 0px 15vw;
    }
    .headerdata img{
        min-width: 50vw;
    }
    .introVid{
        width: 100vw;
        margin: 5vh 40vw;
        height: 30vh;
    }
    .bt{
        width: 100%;
    }
    .heads{
        font-size: 50px;
        margin-left: 40%;
        width: 100%;
    }
}