@media screen and (max-width : 800px){
    *{
        width: 100%;
    }
    .headerdata{
        width: 100%;
        margin: 0px 15vw;
    }
    .headerdata img{
        min-width: 50vw;
    }
    .introVid{
        width: 100vw;
        margin: 5vh 40vw;
        height: 30vh;
    }
    .bt{
        width: 100%;
    }
    .heads{
        font-size: 50px;
        margin-left: 40%;
        width: 100%;
    }
    .data h3{
        font-size: 40px;
    }
    .clients{
        width: 160vw;
        margin: 2vh 6vw;
    }
    .info{
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .data {
        width: 90%;
    }
    .data button{
        margin: 1vh 0px;
        width: 50%;
        margin-bottom: 3vh;
    }
    iframe{
        width: 80%;
        margin: 2vh 2vw;
    }
    .links{
        width: 100vw;
    }

    .others{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .othersData{
        min-width: 100%; ;
        min-height: fit-content;
        margin: 2vh 30vw;
        padding: 20px;
    }
    .othersData h3{
        font-size: 40px;
    }
    .othersData img{
        width: 60%;
    }
    .othersData p{
        font-size: 35px;
    }
    .bor{
        width: 140vw;
        margin: 5vh 20vw;
    }
    .self{
        display: flex;
        flex-direction: column;
        margin: 0vh 35vw;
    }
    .self img{
        max-width: 90vw;
    }
    .myinfo{
        width: 90%;
        font-size: 40px;
    }
    .foot{
        width: 100%;
        margin: 10vh 35vw;
    }
    .foot p{
        font-size: 35px;
    }
    .foot button{
        margin: 15px;
    }
    .contact{
        margin: 0vh 35vw;
        background-color: white;
        color: rgb(24, 24, 24);
        border-radius: 15px;
        font-size: 26px;
    }
}