*{
    margin:0;
    padding: 0;
}

body{
background: rgb(141,208,240);
background: linear-gradient(180deg, rgba(141,208,240,0.9094012605042017) 0%, rgba(248,248,248,1) 23%, rgba(240,240,240,1) 96%);
}
 
.headerdata{
    margin: 0px;
    padding: 14vh 29.25vw 14vh 29.25vw;
    width: 40vw;
    text-align: center;
    color: aliceblue;
}
.headerdata p{
    font-size: 5vh;
    text-shadow: 2px 2px 2px black;
}
.headerdata h1{
    margin: 3vh 0px;
    font-size:52px;
    text-shadow: 5px 5px 4px black;
    transition: all 1s ease-in-out;
}
.headerdata img{
    width: 15vw;
    border-radius: 25px;
    transition: 0.5s all linear;
}
.headerdata img:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px rgb(169,169,169);
}
.headerdata h1:hover{
    transform: scale(1.05);
}

.bt{
    background-color: red;
  background-image: linear-gradient(to bottom right, red, yellow);
    color: aliceblue;
    margin: 2vh 41vw;
    width: 200px;
    height: 10vh;
    border-radius: 7vw;
    border: 0.1vw solid yellow;
    font-weight:bold;
    font-size: 26px;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    box-shadow: 2px 2px 2px rgb(169, 169 , 169);
}
.bt a{
    color: aliceblue;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.bt:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 4px rgb(169, 169 , 169);
}
.bt:hover a{
    transform: scale(1.05);
}


.introVid{
    text-align: center;
    width: 60vw;
    margin: 5vh 19vw;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgb(182, 182, 182);
    transition: all 0.5s linear;
}
.introVid:hover{
    box-shadow: 10px 10px 10px rgb(182, 182, 182);
    transform: scale(1.05);
}

.works{
    margin: 2vh 9.35vw;
    text-align: center;
    font-size: 5vh;
}
.linkspace{
    height: 50vh;
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color:white;
}
.linkspace iframe{
    height: 40vh;
    width: 30vw;
}

h3{
    font-size: 7vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 4px grey;
}
.about{
    margin: 2vh 7vw 5vh 7vw;
    padding: 4vh 1vw;
    text-align: center;
    width: 86vw;
    font-size: 3vh;
    border-radius: 5px;
    /* background-color: white; */
    box-shadow: 5px 5px 5px  rgb(162, 162, 162);
    transition: all 0.5s ease-out;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about p{
    color: rgb(90, 90, 90);
}
.about:hover{
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
}
.collabs{
    margin: 2vh 5vw;
    padding: 2vh 0vw;
    text-align: center;
    font-size: 5vh;
}
.clients{
    margin: 5vh 5vw;
    width: 80vw;
    height: fit-content;
    background-color:white;
    border-radius: 2vw;
    transition: all 0.5s linear;
    color: rgb(96,96,96);
}
.clients:hover{
    transform: scale(1.025);
    box-shadow: 5px 5px 5px rgb(192, 192 , 192);
}
.clients h3{
    margin: 2vh 0vw;
}
.data h3{
    color: rgb(24,24,24);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
    width: 50vw;
    font-size: 5vh;
}
.watchbt{
    margin: 2vh 15vw;
}
.data{
    padding: 1vh 2vw;
    width: 60vw;
    height: fit-content;
}
.links{
    margin: auto 4vw;
    height: fit-content;
}


.others{
    display: flex;
    flex-direction: row;
    margin: 10vh 5vw;
    font-size: 3vh;
}
.others h3{
    font-size: 4vh;
    padding-left: 10px;
    font-family: unset;
    text-shadow: none;
    color: rgb(24,24,24);
}
.othersData{
    width: 30vw;
    height: 60vh;
    line-height: 5vh;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s linear;
    height: fit-content;
    min-height: 75vh;
}
.othersData p{
    padding-left: 10px;
    color: rgb(96,96,96);
}
.othersData img{
    padding: 2vw;
    box-shadow: 4px 4px 5px black;
    width: 15vw;
    width: auto;
}
.othersData:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px black;
}
.bor{
    margin: 1vh 4vw;
    border: 0.1vw solid grey;
}

.self{
    border: 0.1vw solid grey;
    margin: 5vh 15vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    border-radius: 15px;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 71%, rgba(36,36,36,1) 88%, rgba(51,51,51,0.8645833333333334) 100%);
    color: white;
    transition: all 0.5s linear;
}
.self img{
    height: 40vh;
    transition: all 0.5s linear;
    border-radius: 5px;
    box-shadow: 4px 4px 4px white;
}
.myinfo{
    width: 35vw;
    font-size: 3vh;
}
.myinfo button{
    margin: 5vh 0vw;
}
.self:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
}

.foot{
    margin: 10vh 30vw;
    text-align: center;
    width: 40vw;
    font-size: 4vh;
    height : fit-content;
    /* line-height: 6vh; */
}
.foot h3{
    font-size: 8vh;
}
.foot button{
    margin: 0;
    padding: 0;
}

footer .contact{
    color: aliceblue;
    text-align: center;
    margin: 5vh 0vw 0vh 0vw;
    height: fit-content;
    font-size: 3vh;
    padding: 1vh 1vw;
}
.contact ul{
    padding: 1.5vh 0vw;
}
.contact ul li{
    padding: 0.75vh 0vw;
}

#more{
    display: none;
}
#moreExpect{
    display: none;
}
.mybtn{
    margin: 1vh 1vw;
    background-color: grey;
    outline: none;
    color: white;
    height: 5vh;
    width: 7vw;
    border-radius: 5px;
    transition: all 0.5s linear;
    font-size: medium;
}
.mybtn:hover{
    box-shadow: 3px 3px black;
}
